/*
 * index.css - Merged and Cleaned Styles for index.html
 */

/* Colors */
:root {
    /* for header, h1, body background colour */
    --white-cream: #FCF9F2;

    --dark-beige: #B3A98E;
    --accent: #156082;
    --dark-grey: #3C3C3C;
    --light-font: #B3A98E;
    
    /* for vis-one container */
    --light-bg: rgb(179, 169, 142, 0.07); 

    /* for gradient */
    --gradient-start: var(--accent);
    --gradient-end: var(--white-cream);


}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--white-cream);
    margin: 0;
}

/* Typography */
h1 {
    font-family: 'Josefin Slab', serif;
    font-weight: bold;
    font-size: 4.4rem;
    margin:0;
}

h2 {
    font-family: 'Josefin Slab', serif;
    font-weight: 700;
    font-size: 2rem;
    color: var(--accent);
    margin-bottom: 1.3%;
    margin-top: 0;
}

h3 {
    font-family: 'Josefin Slab', serif;
    font-weight: bold;
    font-size: 1.7rem;
    color: var(--dark-grey);
}

h4 {
    font-family: 'Josefin Slab', serif;
    font-weight: bold;
    font-size: 1.4rem;
    color: var(--dark-beige);
    margin-top: 2.3%;
    margin-bottom: 1.7%;
}

p {
    margin: 0;
    color: var(--dark-grey);
    max-width: 75%;
    font-size: 1rem;
}

p.source {
    font-style: italic;
    font-size: 0.7rem;
    color: var(--light-font);
}
/* Scroll-to-top Button (myBtn) */
/* reference: https://www.w3schools.com/howto/howto_js_scroll_to_top.asp */
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: var(--accent); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

#myBtn:hover {
    background-color: var(--dark-grey); /* Add a dark-grey background on hover */
}

/* Layout and General Spacing */
#main {
    padding: 4rem 7rem;
}

.text-link {
    color: var(--accent);
    transition: color 0.4s ease;
}

.text-link:hover,
.text-link:focus {
    text-decoration: none;
    color: var(--dark-beige);
}

/* Header & Navigation */
.header-box {
    display: flex;
    align-items: center;
    position: fixed;
    max-width: 100%;
    width: 100%;
    background-color: var(--white-cream);
    z-index: 2;
}

.logo {
    max-width: 100%;
    height: auto;
    width: 48%;
    margin-right: 1%;
    margin-top: 17%;
}

.logo-link {
    transition: 0.5s ease;
    padding-left: 5%;
    display: inline-block;
}

.logo-link:hover, .logo-link:focus {
    transform: scale(1.1);
}

.main-nav {
    display: flex;
    flex-direction: row;
    font-size: 1.1rem;
    gap: 7%;
    flex: 2;
    justify-content: flex-end;
    padding: 1.4% 5%;
}

.main-nav a{
    font-size: 1.1rem;
    text-align: center;
    text-decoration: none;
    color: var(--dark-grey);
    text-decoration: none;
    transition: color 0.5s;
    display: flex;
    align-items: center;
    margin: 0;
}

.main-nav a:hover,.main-nav a:focus {
    color: var(--accent);
}


/* Mobile burger menu */
.burger-button {
    color: var(--accent);
    padding: 2%;
    position: absolute;
    top: 1%;
    right: 5%;
    font-size: 3.5rem;
    cursor: pointer;
    display: none;
    border: none;
    background-color: transparent;
}


.mobile-nav-links {
    display: none;
    background-color: var(--dark-beige);
    color: var(--white-cream);
    position: fixed;
    z-index: 1;
    padding: 5% 4%;
    max-width: 100%;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0%;
    text-align: center;
}

.close-button {
    position: absolute;
    top: 1%;
    right: 5%;
    font-size: 5rem;
    background-color: transparent;
    border: none;
    color: var(--white-cream);
    cursor: pointer;
}


.mobile-nav-links a {
    display: none;
    padding: 5%;
    color: white;
    text-decoration: none;
    font-size: 1.6rem;
}

/* Homepage Sections */

#home-banner {
    display: flex;
    position: relative;
    max-width: 100%;
    background-image: linear-gradient(to bottom, var(--gradient-start), var(--gradient-end));
    height: 120vh;
}

.shop {
    max-width: 100%;
    width: 60%;
    opacity: 15%;
    margin-left: 30%;
}

.home-img {
    position: absolute;
    width: 66%;
    right: 0;
    top: 20;
    object-fit: cover;
}

.home-headings {
    padding-top: 22%;
}

.home-headings h1 {
    color: var(--white-cream);
    font-size: 3.5rem;
    max-width: 100%;
    width: 80%;
    line-height: 1.3;
    padding-top: 20%;
    margin-bottom: 8%;

}

.banner-box {
    display: flex;
    flex-direction: column;
    padding-left: 12%;
}

.about-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--accent);
    border-radius: 15px;
    padding: 5% 3%;
    margin-top: 16%;
}

.about-box p {
    margin-top: 2%;
    width: 72%;
    text-align: center;
    color: var(--dark-grey);
}

#vis-one {
    background-color: var(--light-bg);
}

#vis-one, #vis-two{
    padding: 5% 8%;
}

#vis-one h2, #vis-two h2 {
    margin-bottom: 2.5%;
}

#vis-one h3, #vis-two h3 {
    margin-bottom: 2%;
}
.event-box {
    display: flex;
}

.line-graph, .calendar-heatmap {
    max-width: 100%;
    width: auto; /* Allow image to size naturally */
    height: auto;
    border-radius: 8px;
}

.bar-graph {
    max-width: 100%;
    width: 45%; /* Two bar graphs side-by-side on desktop */
    margin: 10px;
    border-radius: 8px;
}

#vis-one p, #vis-two p{
    margin-top: 1rem;
    max-width: 100%;
}


/* Footer */
footer {
    background-color: #F0E8DA;
    padding: 3% 6%;
}

.footer-box {
    display: flex;
}

footer p {
    font-size: 0.9rem;
    margin: 1% 0;
}

footer h3 {
    font-size: 1.5rem;
}

.footer-container-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.contact {
    margin-top: 2%;
    flex:2;
}

.links {
    margin-top: 2%;
    flex: 1;
}

/* Media Queries */

@media screen and (max-width: 80em) {
    footer .logo {
        margin-right: 5%;
        width: 9%;
    }
}

@media screen and (max-width: 65em) {
    .home-headings h1 {
        font-size: 3.2rem;
    }

    .footer-box {
        flex-direction: column;
        align-items: center;
    }

    footer .logo {
        margin-right: 2%;
        margin-top: 4%;
        margin-bottom: 4%;
    }

    footer p {
        text-align: center;
        margin: 0;
        max-width: 100%;
    }

    footer h3 {
        text-align: center;
    }

    .links {
        margin-bottom: 8%;
    }
}

@media screen and (max-width: 60em) {
    .logo-link {
        margin-left: 0;
    }

    .home-headings h1 {
        font-size: 2.8rem;
        width: 80%;
        padding-top: 35%;
    }

    .line-graph, .calendar-heatmap {
        height: auto;
        object-fit: contain;
        width: 40%;
    }
}

@media screen and (max-width: 50em) {
    .burger-button {
        display: block;
    }

    .mobile-nav-links > a:nth-child(2) {
        margin-top: 18%;
    }

    .logo-link {
        margin: 1% 0;
    }

    .mobile-nav-links a {
        display: block;
    }
    .main-nav {
        display: none;
    }

    footer .logo {
        margin: 5% 0;
        width: 18%;
    }

}

@media screen and (max-width: 45em) {

    #main {
        padding: 3rem 3rem;
    }

    #home-banner {
        flex-direction: column;
    }

    .banner-box {
        padding-left: 0;
        padding: 5% 5%;
    }

    .shop {
        display: none;
    }

    .home-headings h1 {
        font-size:3.3rem;
        width: 100%;
        padding-top: 35%;
        padding-bottom: 2%;
        padding-left: 0;
        text-align: center;
    }

    .about-box h2 {
        margin-bottom: 5%;
    }

    .about-box p {
        max-width: 100%;
        width: 100%;
    }

    .about-box {
        padding: 15% 8%;
    }

    #main {
        padding: 1% 4%;
    }

    .event-box {
        flex-direction: column;
    }

    .event-info {
        text-align: center;
    }

    #vis-one h2, #vis-two h2 {
        width: 100%;
        margin-top: 15%;
    }
    .event-info p {
        margin-top: 5%;
        max-width: 100%;
        margin-bottom: 8%;
    }

    .line-graph, .calendar-heatmap {
        width: 100%;
        margin-bottom: 17%;
    }
    
    .bar-graph{
        width: 80%;
        margin: auto;
        margin-bottom: 5%;
    }

    .mobile-nav-links a {
        padding: 7%;
    }

    .mobile-nav-links > a:nth-child(2) {
        margin-top: 25%;
    }

    .mobile-nav-links > a {
        display: block;
    }
}